@using WasmDashboard.Models
@inject NavigationManager Navigation

<section class="full-box nav-lateral">
    <div class="full-box nav-lateral-bg show-nav-lateral"></div>
    <div class="full-box nav-lateral-content">
        <figure class="full-box nav-lateral-avatar">
            <i class="far fa-times-circle show-nav-lateral"></i>
            <img src="./assets/avatar/Avatar.png" class="img-fluid" alt="Avatar">
            <figcaption class="roboto-medium text-center">
                Harsh Kaushik <br><small class="roboto-condensed-light">Web Developer</small>
            </figcaption>
        </figure>
        <div class="full-box nav-lateral-bar"></div>
        <nav class="full-box nav-lateral-menu">
            <ul>
                <li>
                    <NavLink href="home"><i class="fab fa-dashcube fa-fw"></i> &nbsp; Dashboard</NavLink>
                </li>
                <li>
                    <a href="#" class="nav-btn-submenu"><i class="fas fa-user-tie fa-fw"></i> &nbsp; Administrator <i class="fas fa-chevron-down"></i></a>
                    <ul>
                        <li><NavLink href="admin"><i class="fas fa-user-plus fa-fw"></i> &nbsp; New admin</NavLink></li>
                        <li><NavLink href="listadmin"><i class="fas fa-users fa-fw"></i> &nbsp; List admin</NavLink></li>
                    </ul>
                </li>
                <li>
                    <a href="#" class="nav-btn-submenu"><i class="fas fa-box-open fa-fw"></i> &nbsp; Products <i class="fas fa-chevron-down"></i></a>
                    <ul>
                        <li><NavLink href="product"><i class="fas fa-box fa-fw"></i> &nbsp; New product</NavLink></li>
                        <li><NavLink href="productlist"><i class="fas fa-boxes fa-fw"></i> &nbsp; List products</NavLink></li>
                    </ul>
                </li>
                <li>
                    <NavLink href="base"><i class="fas fa-columns fa-fw"></i> &nbsp; Base template</NavLink>
                </li>
            </ul>
        </nav>
    </div>
</section>

@code {
    [Parameter] public User User { get; set; }
}
